<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserDao">

	<select id="selectUserByid" parameterType="String" resultType="pojo.User">
		select * from user where user = #{name}
	</select> 
	<select id="selectAllUser" resultType="pojo.User">
		select * from user 
	</select> 
	<insert id="addUser" parameterType="pojo.User">
		insert into user values(#{user},#{pass},#{hob},#{fri},#{car},#{house},#{rem}) 
	</insert> 

</mapper>