<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	
	<context:component-scan base-package="controller"/>
	<context:component-scan base-package="service"/>
	<context:component-scan base-package="dao"/>
	
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/mvc?characterEncoding=utf8"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>
		<property name="maxTotal" value="30"/>
		<property name="maxIdle" value ="10"/>
		<property name="initialSize" value="5" />
	</bean>
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
		<property name="dataSource" ref="dataSource"/>
	</bean> 
	<tx:annotation-driven transaction-manager="txManager"/>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
	</bean> 
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name ="basePackage" value="dao"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>
	
	<mvc:annotation-driven />
	<mvc:resources location="/WEB-INF/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/html/" mapping="/html/**"></mvc:resources> 
	<mvc:resources location="/WEB-INF/images/" mapping="/images/**"></mvc:resources>
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
		id="internalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<mvc:interceptors> 
		<mvc:interceptor> 
			<mvc:mapping path="/user/login"/>
			<bean class="Interceptor.Interceptor1" />
		</mvc:interceptor> 
	</mvc:interceptors>
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames"> 
			<list> 
				<value>/WEB-INF/resource/errorMessages</value> 
			</list> 
		</property>
		<property name="fileEncodings" value="utf-8"/>
		<property name="cacheSeconds" value="120"/>
	</bean>
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" >
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
		<property name="validationMessageSource" ref="messageSource"/>
	</bean>
	<mvc:annotation-driven conversion-service="conversionService" validator="validator"/>
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean" > 
	</bean>
</beans>